// Backgrounds
.bg-white {
    background-color: white !important;
}

.bg-full {
    background-size: cover !important;
    background-repeat: no-repeat;
}

// Text
.text-white {
    color: white !important;
}

.em {
    font-style: italic !important;
}

.smaller {
    font-size: 7pt !important;
}

.font-weight-black {
    font-weight: 900 !important;
}


// Elements
.overflow-hide {
    overflow: hidden !important;
}

.img-responsive {
    max-width: 100%;
}

.outline {
    outline: 1px solid;
}